
  /* .slider-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .slider-item {
    flex: 0 0 calc(50% - 10px); 
    margin: 5px;
  }

  .slick-arrow {
  background:none !important;
  
}

.slick-prev:before, .slick-next:before{
  font-size: 35px !important;
  
}

.slick-prev {
  left: -40px !important;
  
}
.slick-next{
  right:-26px !important;
} 
@media screen and (max-width:640px) {
  .slick-prev:before, .slick-next:before{
    font-size: 25px !important;
    
  }
  .slick-prev {
    left: -20px !important;
    
  }
  .slick-next{
    right:-15px !important;
  } 
} */